*{
    margin:0;
     font-family: Arial;
    border: border-box;
    
}

/* navbar */
.navbar{
    height: 60px;
    
    background-color:  rgb(173, 124, 55);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navbar:hover{
    border: solid rgb(71, 71, 126) 2px;

}
.nav-logo{
   
    height: 50px;
    width: auto;
 
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
    
}
.add-icon{
    display: flex;
    align-items: center;
}

/* panel1 */
.panel1{
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin: 15px;
}
.panel-ops p:hover{
    cursor: pointer;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* panel2 */
.panel2{
    height: 40px;
    background-color: rgb(227, 145, 30);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-ops a{
    display: inline;
  
    color: white;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
 .hero-section{
    background-image: url("backimage1.webp");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    

}
.hero-msg{
    background-color: rgb(233, 221, 221);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
} 
.hero-msg a{
    color: #007185;
}

.strategy{
    background-color: rgb(193, 31, 142);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    position: relative;
    color: #c6c6c6;
}

/* footer */
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("logo.jpg");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.logo:hover{
    cursor: pointer;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;

    
}
.pages{
     padding-top: 25px;
     font-size: 0.7rem;
     text-align: center;
     
}
.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
    
}
  /* ABOUT */
  
  
  .about__content{
    row-gap: 3rem;
    background-color: rgb(173, 124, 55);
    display: flex;
  
  }

  .about__description{
    margin-left: 70px;
    margin-right: 70px;
  
    align-items: center;
    justify-content: center;
  
  }

 .about_img{
    margin-left: 50px;
    margin-right: auto;
    align-content: center;
   justify-content: center;
 }
  

  
.panell-all:hover{
    cursor: pointer;
    border: solid white 1px;
}

.panel-deals:hover{
    cursor: pointer;
    border: solid white 1px;
}

.panel2:hover{
    border: solid rgb(66, 115, 83) 2px;
}

.hero-msg:hover{
   cursor: pointer;
}

/* For small devices */
@media screen and (max-width: 300px){
    .navbar{
      margin-inline: 1rem;
     

        
    }  
    
  .about__content{
    row-gap: 3rem;
    background-color: rgb(173, 124, 55);
    flex-wrap: wrap;
    
  
  }


    
   
 }

@media only screen and (max-width:400px){

    body{
        text-align: center;
    }
    img{
        margin-right: 50px;
    }  
    
}

  
 